.bg__img {
   background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../../assets/slider_1.jpg);
   height: 780px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin-top: -15px;
}

.content {
   /* position: absolute;
   top: 300px;
   left: 26px; */
   /* margin-top: 100px; */
}

.content > p {
   padding-top: 280px;
   font-weight: 600;
   font-family: Georgia, "Times New Roman", Times, serif;
}

.content > h1 {
   font-size: 40px;
   font-weight: 500;
   font-family: Georgia, "Times New Roman", Times, serif;
   line-height: 80px;
   padding-bottom: 6px;
}

.deal_of_Week_bgImg {
   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/deal_ofthe_week.png);
   background-repeat: no-repeat;
   background-position: center;
   height: 500px;
   object-fit: contain;
   position: relative;
   text-align: center;
}
