.fill__spacer {
   flex: 1 1 auto;
}

.text__none {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 0;
   margin: 0;
}

.flex__items {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

.component__Gap {
   padding-top: 50px;
}

.category__layout {
   position: relative;
   height: 260px;
   width: 350px;
   margin: 4px;
}

.category__Bgimg {
   height: 260px;
   width: 100%;
}

.category__layout > .content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.underLine {
   text-align: center;
   width: 200px;
   border: 2px solid salmon;
}

.footer__bgGray {
   padding: 30px;
   background-color: rgb(240, 238, 238);
}
